<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696042590655-c267b7v7m376pcghpvgmd14up0pghf87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696042590655-c267b7v7m376pcghpvgmd14up0pghf87</string>
	<key>API_KEY</key>
	<string>AIzaSyDHZ3BtPLaqNGq1d3T3Lhm3qxd5DU6NaC8</string>
	<key>GCM_SENDER_ID</key>
	<string>696042590655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.bellahamerouane.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-329aa</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-329aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696042590655:ios:ef45c48636e64d11e1d10a</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-329aa.firebaseio.com</string>
</dict>
</plist>